<ion-view view-title="Bares e Restaurantes" style="background-color:gray;">
  <ion-nav-buttons side="right">
      <button id="lupa" class="button button-icon button-clear ion-android-search ink" ng-show="!isExibirSearchBar" ng-click="showSearchbar()">
      </button>
  </ion-nav-buttons>
    <ion-content>

      <style>

        .list .item.item-accordion {
        line-height: 20px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
        }
        .list .item.item-accordion.ng-hide {
        line-height: 0px;
        }
        .list .item.item-accordion.ng-hide-add,
        .list .item.item-accordion.ng-hide-remove {
        display: block !important;
        }

      </style>

          <div id="searchBar" class="bar bar-stable static text-center"
               ng-show="isExibirSearchBar">
            <div class="item item-input  animated fadeInDown">
              <i class="icon ion-search placeholder-icon"></i>
              <input id="inputId" type="search" placeholder="Search" ng-model="filter">
              <i class="icon ion-close padding" ng-click="hideSearchBar()"></i>
            </div>
          </div>

        <ion-list ng-repeat="place in places" class="animate-fade-slide-in">
            <ion-item class="item-stable ink" ng-click="togglePlace(place)"
                      ng-class="{active: isShowPlace(place)}"
                      style="background-color:#f7f7f7;">
              <i class="icon" ng-class="isShowPlace(place) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              <b style="font-size:20px; color:#33393d;">{{place.nome}}</b>
            </ion-item>
            <ion-item class="item-accordion item-stable item-body ink"
                      style="background-color:#dddfe0;"
                      ng-show="isShowPlace(place)">

                    <b>Especialidade:</b> {{place.especialidade}}<br>
                    <b>Telefone:</b> {{place.telefone}}<br>
                    <b>Endereço:</b> {{place.endereco}}
                        <div ng-if=place.isExisteSite>
                          <br>
                          <b>Site:</b> {{place.site}}
                        </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore() " distance="30%" ng-if="moreDataCanBeLoad() " spinner="android">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
