<ion-view view-title="Feiras Livres">
  <button id="fab" ui-sref="mainscreen.map({categoria:'feiraslivres'})" class="button button-positive button-fab button-fab-bottom-right" ng-show="isShowFabMapButton">
			<i class="icon ion-map"></i>
	</button>
    <ion-content class="dark-bg" ng-class="{expanded:$scope.isExpanded}">
      <div class="card" ng-if="isExibirMensagemNenhumResultadoEncontrado">
        <div class="item item-text-wrap">
          {{mansagemNenhumResultadoEncontrado}}
        </div>
      </div>
      <ion-list id="listaDeLugares" ng-repeat="place in places" class="animate-blinds">
        <ion-item nav-clear menu-close class="ink item-text-wrap" ng-click="goToProfile(place)" style="height:15vh; border-bottom: 2px outset #B6B6B6;">
                <div class="row padding">
                  <div class="col-80" style="text-align:left;">
                    <p class="item-text-wrap" style="font-size:23px;color:white;">{{place.nome}}</p>
                  </div>
                  <div class="col-20" style="text-align:right;">
                    <a class="button-clear ion-chevron-right larger" style="width:100px;"></a>
                  </div>
                </div>
        </ion-item>
      </ion-list>
      <div ng-if="!isInSearch && loadMore">
        <ion-infinite-scroll on-infinite="loadMore() " distance="50%" ng-if="moreDataCanBeLoad() " spinner="android">
        </ion-infinite-scroll>
      </div>
    </ion-content>
</ion-view>
