<ion-view title="Hoteis">
	<ion-content class="has-header padding" style="background-color:#8C8984;">
		<style>
			.list .item.item-accordion {
			line-height: 20px;
			padding-top: 0;
			padding-bottom: 0;
			transition: 0.09s all linear;
			}
			.list .item.item-accordion.ng-hide {
			line-height: 0px;
			}
			.list .item.item-accordion.ng-hide-add,
			.list .item.item-accordion.ng-hide-remove {
			display: block !important;
			}

		</style>
		<div class="card" ng-if="isExibirMensagemNenhumResultadoEncontrado">
			<div class="item item-text-wrap">
				{{mansagemNenhumResultadoEncontrado}}
			</div>
		</div>

		<ion-list id="listaDeLugares" ng-repeat="place in places" class="animate-ripple">
				<ion-item class="item-stable ink" ng-click="togglePlace(place)"
									ng-class="{active: isShowPlace(place)}"
									style="background-color:#f7f7f7;border-bottom: 2px outset #005B9A;">
					<i class="icon" ng-class="isShowPlace(place) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					<b style="font-size:20px; color:#33393d;">{{place.nome}}</b>
				</ion-item>
				<ion-item class="item-accordion item-stable item-body ink"
									style="background-color:#dddfe0;"
									ng-show="isShowPlace(place)">

									<div class="row">
										<div class="col" style="text-align:right">
											<b>Endereço:</b>
										</div>
										<div class="col col-75" style="text-align: justify;">
											{{place.endereco}}
										</div>
									</div>
									<div class="row">
										<div class="col" style="text-align:right">
											<b>Telefone:</b>
										</div>
										<div class="col col-75" style="text-align: justify;">
											{{place.telefone}}
										</div>
									</div>
									<div class="row" ng-if=place.isExisteSite>
										<div class="col" style="text-align:right">
											<b>Site:</b>
										</div>
										<div class="col col-75" style="text-align: justify;">
											{{place.site}}
										</div>
									</div>
									<div class="row">
										<div class="col" style="text-align:right">
											<p>
												<a class="ion-map iconMap" ng-click="goToMap(place)"></a>
											</p>
										</div>
									</div>



			</ion-item>
		</ion-list>
		<div ng-if="!isExibirSearchBar">
			<ion-infinite-scroll on-infinite="loadMore() " distance="50%" ng-if="moreDataCanBeLoad() " spinner="android">
			</ion-infinite-scroll>
		</div>

  </ion-content>
</ion-view>
