<ion-view title="Hotel">
	<ion-content has-header="true" data-tap-disabled="true" ng-class="{expanded:isExpanded}">

    <leaflet id="map" defaults="map.defaults"
		 				 center="map.center" markers="map.markers"
						 width="100%"
						 height="40%"
						 ng-if="map.center"></leaflet>

					 <div class="ink dark-bg item-text-wrap" style="font-size:18px;font-weight:bold;color:white;height:40%;" ng-if="!isLocalizacaoDisponivel()">
				 			<div class="padding">
				 				Localização não disponivel.
				 			</div>
				 		</div>

		<div class="ink dark-bg item-text-wrap" style="font-size:18px;font-weight:bold;color:white;height:50px;">
			<div class="padding">
				{{place.nome}}
			</div>
		</div>

		<div class="content double-padding">
			<h4 class="positive">Endereço:</h4>
			<p class="selecionavel text-muted">
				{{place.endereco}}
			</p>

			<h4 class="positive">Telefone:</h4>
			<p class="selecionavel text-muted">
				{{place.telefone}}
			<a class="button-clear button-icon icon ion-ios-telephone"
				 href="tel:{{place.telefone}}"></a>
			</p>

			<div ng-if="place.isExisteSite">
				<h4 class="positive">Site:</h4>
				<p class="selecionavel text-muted">
					{{place.site}}
				</p>
			</div>
		</div>

  </ion-content>
</ion-view>
