<ion-view title="Feira Livre">
	<ion-content has-header="true" data-tap-disabled="true" ng-class="{expanded:isExpanded}">

    <leaflet id="map" defaults="map.defaults"
		 				 center="map.center" markers="map.markers"
						 width="100%"
						 height="40%"
						 ng-if="map.center"></leaflet>

					 <div class="ink dark-bg item-text-wrap" style="font-size:18px;font-weight:bold;color:white;height:40%;" ng-if="!isLocalizacaoDisponivel()">
				 			<div class="padding">
				 				Localização não disponivel.
				 			</div>
				 		</div>

		<div class="ink dark-bg item-text-wrap" style="font-size:18px;font-weight:bold;color:white;height:70px;">
			<div class="padding centerName">
				{{place.nome}}
			</div>
		</div>

		<div class="content double-padding">

      <h4 class="positive">Endereço:</h4>
			<p class="selecionavel text-muted">
				{{place.localizacao}}
			</p>

      <h4 class="positive">Funcionamento:</h4>
			<p class="selecionavel text-muted">
        {{place.dias}}<br>
        {{place.horario}}
			</p>

			<div ng-if="place.isExisteObservacao">
				<h4 class="positive">Observação:</h4>
				<p class="selecionavel text-muted">
					{{place.observacao}}
				</p>
			</div>
		</div>

  </ion-content>
</ion-view>
