<ion-view title="Teatros">
	<button id="fab" ui-sref="mainscreen.map({categoria:'teatros'})" class="button button-positive button-fab button-fab-bottom-right" ng-show="isShowFabMapButton">
			<i class="icon ion-map"></i>
	</button>
	<ion-content class="padding" ng-class="{expanded:$scope.isExpanded}">
		<div class="card" ng-if="isExibirMensagemNenhumResultadoEncontrado">
			<div class="item item-text-wrap">
				{{mansagemNenhumResultadoEncontrado}}
			</div>
		</div>

		<ion-list id="listaDeLugares" ng-repeat="place in places" class="animate-fade-slide-in-right">
			<ion-item nav-clear menu-close class="ink" ng-click="goToProfile(place)" style="border-bottom: 2px outset #B6B6B6;">
							<div>
								<h2><b>{{place.nome}}</b></h2>
							</div>
			</ion-item>
		</ion-list>
		<div ng-if="!isInSearch && loadMore">
			<ion-infinite-scroll on-infinite="loadMore() " distance="50%" ng-if="moreDataCanBeLoad() " spinner="android">
			</ion-infinite-scroll>
		</div>

  </ion-content>
</ion-view>
