/* Empty. Add your own CSS if you like */

/*
ion-md-input {
  position: relative;
  margin-top: 45px;
  margin-left: 20px;
  display: block; }
ion-md-input input {
  font-size: 18px !important;
  padding: 10px 10px 10px 5px !important;
  display: block;
  width: 300px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575 !important;
  vertical-align: baseline; }
ion-md-input input:focus {
  outline: none; }
ion-md-input .md-bar {
  position: relative;
  display: block;
  width: 300px; }
ion-md-input .md-bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }
ion-md-input .md-bar:before {
  left: 50%; }
ion-md-input input:focus ~ .md-bar:before {
  left: 0%;
  width: 100%; }
ion-md-input label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
ion-md-input input:focus ~ label, ion-md-input input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }
ion-md-input .md-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }
ion-md-input input:focus ~ .md-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }
@-webkit-keyframes inputHighlighter {
  from { background: #5264AE; }
  to { width: 0; background: transparent; } }
@-moz-keyframes inputHighlighter {
  from { background: #5264AE; }
  to { width: 0; background: transparent; } }
@keyframes inputHighlighter {
  from { background: #5264AE; }
  to { width: 0; background: transparent; } }

*/
.no-padding{
  padding: 0px !important;
}

.no-margin{
  margin: 0px !important;
}

/* ------- SEARCH ----*/
.searchBar {
	color: #fff;
	margin: 0 !important;
	padding-top: 5px;
}
.searchBar .icon {
	font-size: 30px;
	line-height: 1.2;
	padding-right: 12px;
	}
.searchBar .searchTxt {
	/*border-bottom: 1px solid #fff;*/
	left: 55px;
	width: calc(100% - 100px);
	position: fixed;
	height: calc(100% - 10px);
}
.searchBar.numicons2 .searchTxt {
	width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;

}
.searchBar .searchTxt > .bgtxt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.searchBar .searchTxt input {
	background-color: inherit;
	color: black;
	padding-left: 5px;
	padding-right:5px;
}

/*HEADER-BAR*/

/*
.bar-header {
   height: 54px;
}

.bar-header .title {
   line-height: 54px;
}

.has-header {
   top: 54px;
}
*/

.title-center {
  font-size: 25px !important;
  font-weight: bold !important;
}

bar.bar-custom, bar.bar-custom .bar.bar-positive, .bar-custom .nav-bar-block ion-header-bar {
        border-color: #009688;
        background-color: #009688;
        background-image: linear-gradient(0deg, #009688, #009688 50%, transparent 50%);
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.selecionavel{
    -webkit-user-select: auto;
}


/*
body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

*/
